# Build artifacts and outputs
OUT/
cache/
*.img
*.bin
*.dtb
*.log
*.o
*.ko
*.mod
*.tar.xz

# Temporary mounts or chroots
mnt/
*.tmp
*.lock

# Kernel build directories
linux-*/.config
linux-*/.tmp_versions/
linux-*/modules.order
linux-*/Module.symvers

# Firmware / binaries
rkbin/
trusted-firmware-a/build/
u-boot/build/
rk-tools/build/

# System files
.DS_Store
trusted-firmware-a/
u-boot/
